{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Reset</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'reg_styles.css' %}">
</head>
<body>
    <div class="register-container">
        <h2>Set a New Password</h2>
        <form method="POST" class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="register-btn">Reset Password</button>
        </form>
      </div>
      </div>
</body>
</html>
