{% extends 'app_1/base.html' %}
{% load static %}
{% block content %}

<div class="cart-container">
    <h1 class="cart-title">Your Wishlist</h1>

    {% if wishlist_items %}
        <form action="{% url 'wishlist' %}" method="POST">
            {% csrf_token %}
            <table class="cart-table">
                <tr>
                    <th>Select</th>
                    <th>Product</th>
                    <th>Price</th>
                </tr>
                {% for item in wishlist_items %}
                <tr>
                    <td>
                        <input type="checkbox" name="wishlist_items" value="{{ item.id }}">
                    </td>
                    <td>
                        <a href="{% url 'product_detail' item.product.id %}" class="prod-link">
                            <img src="{% static item.product.image_url %}" alt="{{ item.product.name }}" style="height: 60px; vertical-align: middle; margin-right: 10px;">
                            {{ item.product.name }} {{ item.product.category }}
                        </a>
                    </td>
                    <td>₹{{ item.product.price }}</td>
                </tr>
                {% endfor %}
            </table>

           
                <button type="submit" name="action" value="add_to_cart" class="cart-checkout-btn">Add Selected to Cart</button>
                <button type="submit" name="action" value="remove_from_wishlist" class="cart-checkout-btn">Remove Selected from Wishlist</button>
                <a class="cart-checkout-btn" href="{% url 'products' %}">Continue Shopping</a>

            
        </form>

        
    {% else %}
        <p class="cart-empty-msg">Your wishlist is empty. Continue Shopping?</p>
        <a class="cart-checkout-btn" href="{% url 'products' %}" style="position:relative;left:41%">Continue Shopping</a>
    {% endif %}
</div>

{% endblock %}
